
*{
    font-family: Arial, Helvetica, sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.dark-mode {
    background-color: black;
    color: white;
    border-color: #fff;
  }

#day-night{
    float: right;
    border: none;
    background: none;
}

.postArea{
    border: solid 5px;
    margin-bottom: 5px;
}
.userPost{
    color: grey;
    font-size: 14px;
    margin-left: 4px;
}

.header{
    border-bottom: double 10px;
}
#back {
    float: right;
    background-color: #000;
    color: #fff;
}

.titlePost{
    font-weight: bolder;
    border-bottom: solid 4px;
    margin-left: 4px;
    margin-right : 4px;
    padding-bottom: 4px;
}

.contentPost{
    font-style: italic;
    margin-left: 15px;
    margin-top: 10px;
}

.footer{
    font-size: 15px;
    font-style: italic;
    color: grey;
   text-align: center;
}

.portfolioLink {
    text-decoration: none;
}
.blogLink {
    text-decoration: none;
}
.footerInfo{
    font-weight: bold;
    font-style:italic;
}